---
foreman:
  # Based on grep 'foreman::plugin ' puppet-foreman/manifests/plugin/*.pp | cut -d\' -f2
  plugins:
    acd:
      github_org: 'ATIX-AG'
      rpm: true
      tests:
        github:
          JavaScript: javascript_tests.yml
          Ruby: ruby_tests.yml
    ansible:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/ansible'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_tests.yml
    azure_rm:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/azure'
      satellite: true
      tests:
        github:
          Ruby: main.yml
    bootdisk:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/bootdisk'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_ci.yaml
    concrete:
      github_org: 'timogoebel'
      installer: false
      rpm: true
    datacenter:
      installer: false
      deb: true
      rpm: true
      github_team: 'theforeman/foreman-datacenter'
    default_hostgroup:
      deb: true
      rpm: true
      github_team: 'theforeman/foreman_default_hostgroup'
    dhcp_browser:
      deb: true
      rpm: true
      github_team: 'theforeman/dhcp-browser'
    discovery:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/discovery'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby.yml
    dlm:
      github_org: 'dm-drogeriemarkt'
      rpm: true
      tests:
        github:
          Ruby: ci.yml
    expire_hosts:
      deb: true
      rpm: true
      github_team: 'theforeman/expire-hosts'
      tests:
        github:
          Ruby: ci.yml
    fog_proxmox:
      installer: true
      deb: true
      rpm: true
      github_team: 'theforeman/proxmox'
      tests:
        github:
          Ruby: ci.yml
    git_templates:
      github_org: 'dm-drogeriemarkt'
      rpm: true
      tests:
        github:
          Ruby: ci.yml
    google:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/google'
      satellite: true
      tests:
        github:
          Ruby: ruby.yml
    graphite:
      installer: false
      deb: true
      rpm: true
    hdm:
      deb: true
      rpm: true
      github_team: 'theforeman/betadots'
      github_org: 'betadots'
      tests:
        github:
          Ruby: ci.yaml
    hooks:
      deb: true
      rpm: true
      github_team: 'theforeman/foreman-hooks'
      satellite: true
      tests:
        github:
          Ruby: ruby_ci.yml
    host_extra_validator:
      rpm: true
      github_team: 'theforeman/host-extra-validator'
      tests:
        github:
          Ruby: ruby_ci.yml
    katello:
      name: 'katello'
      rpm: true
      translations: true
      github_org: 'Katello'
      rpm_directory: 'katello'
      satellite: true
      tests:
        github:
          JavaScript: react_tests.yml
          Ruby: ruby.yml
    kernel_care:
      rpm: true
      rpm_directory: 'katello'
      github_team: 'theforeman/foreman_kernel_care'
      tests:
        github:
          Ruby: unit_tests.yaml
    kubevirt:
      rpm: true
      translations: true
      github_team: 'theforeman/kubevirt'
      satellite: true
      tests:
        github:
          Ruby: ruby.yml
    leapp:
      rpm: true
      translations: true
      github_team: 'theforeman/foreman_leapp'
      satellite: true
      tests:
        github:
          JavaScript: js_ci.yml
          Ruby: ruby.yml
    monitoring:
      deb: true
      rpm: true
      github_team: 'theforeman/monitoring'
      tests:
        github:
          Ruby: ci.yml
    netbox:
      github_org: 'dm-drogeriemarkt'
      rpm: true
      tests:
        github:
          Ruby: ci.yml
    openbolt:
      github_org: 'overlookinfra'
      deb: true
      rpm: true
      github_team: 'theforeman/overlookinfra' # also theforeman/betadots
      tests:
        github:
          Ruby: test.yml
    omaha:
      deb: true
      rpm: true
      github_team: 'theforeman/omaha'
      tests:
        github:
          Ruby: ci.yml
    opennebula:
      github_team: 'theforeman/opennebula'
    openscap:
      rpm: true
      translations: true
      github_team: 'theforeman/openscap'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_tests.yml
    ovirt:
      github_org: 'markt-de'
      deb: true
      rpm: true
      github_team: 'theforeman/ovirt'
    puppet:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/puppet'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_tests.yml
    puppetdb:
      name: 'puppetdb_foreman'
      deb: true
      rpm: true
      github_team: 'theforeman/puppetdb'
      tests:
        github:
          Ruby: ruby_test.yml
    remote_execution:
      deb: true
      rpm: true
      puppet_acceptance_tests: 'foreman_rex_cockpit'
      translations: true
      github_team: 'theforeman/remote-execution'
      satellite: true
      tests:
        github:
          JavaScript: js_ci.yml
          Ruby: ruby_ci.yml
    rescue:
      github_org: 'dm-drogeriemarkt'
      deb: true
      rpm: true
      tests:
        github:
          Ruby: ci.yml
    resource_quota:
      github_org: 'ATIX-AG'
      installer: true
      rpm: true
      translations: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_tests.yml
    rh_cloud:
      rpm: true
      rpm_directory: 'katello'
      translations: true
      github_team: 'theforeman/rh-cloud'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_tests.yml
    salt:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/salt'
      tests:
        github:
          Ruby: ruby_tests.yml
    scc_manager:
      github_org: 'ATIX-AG'
      rpm: true
      rpm_directory: 'katello'
      translations: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: unit_tests.yaml
    setup:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/foreman-setup'
    snapshot_management:
      github_org: 'ATIX-AG'
      rpm: true
      translations: true
      tests:
        github:
          JavaScript: react.yml
          Ruby: ruby.yml
    statistics:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/statistics'
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_tests.yml
    supervisory_authority:
      installer: false
      rpm: true
      github_team: 'theforeman/supervisory_authority'
      tests:
        github:
          Ruby: ci.yml
    tasks:
      name: foreman-tasks
      deb: true
      rpm: true
      translations: foreman_tasks
      github_team: 'theforeman/foreman-tasks'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ruby_tests.yml
    templates:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/foreman_templates'
      satellite: true
      tests:
        github:
          JavaScript: js_ci.yml
          Ruby: ruby_ci.yml
    theme_satellite:
      github_org: 'RedHatSatellite'
      deb: false
      rpm: true
      rpm_directory: 'satellite'
      translations: true
      satellite: true
      tests:
        github:
          Ruby: main.yml
    vault:
      github_org: 'dm-drogeriemarkt'
      rpm: true
      tests:
        github:
          Ruby: ci.yml
    virt_who_configure:
      rpm: true
      rpm_directory: 'katello'
      translations: true
      github_team: 'theforeman/virt-who-configure'
      satellite: true
      tests:
        github:
          Ruby: ci.yml
    vmwareannotations:
      installer: false
      rpm: true
      github_team: 'theforeman/vmware-annotations'
    webhooks:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/webhooks'
      satellite: true
      tests:
        github:
          JavaScript: js_tests.yml
          Ruby: ci.yml
    wreckingball:
      github_org: 'dm-drogeriemarkt'
      rpm: true
      tests:
        github:
          Ruby: ci.yml

smart_proxy:
  # grep -R 'foreman_proxy::plugin::provider ' puppet-foreman_proxy/manifests/plugin | cut -d\' -f2
  providers:
    dhcp_bluecat:
      installer: false
      rpm: true
    dhcp_device42:
      installer: false
      rpm: true
    dhcp_dnsmasq:
      installer: false
      deb: true
      rpm: true
    dhcp_infoblox:
      deb: true
      rpm: true
      github_team: theforeman/proxy-infoblox
    dhcp_remote_isc:
      deb: true
      rpm: true
    dns_dnsmasq:
      installer: false
      deb: true
      rpm: true
    dns_infoblox:
      deb: true
      rpm: true
      github_team: theforeman/proxy-infoblox
    dns_powerdns:
      deb: true
      rpm: true
    dns_route53:
      installer: false
      deb: true
      rpm: true
    realm_ad:
      name: smart_proxy_realm_ad_plugin
      installer: false
      rpm: true
  modules:
    acd:
      github_org: 'ATIX-AG'
      rpm: true
    ansible:
      deb: true
      rpm: true
      puppet_acceptance_tests: true
      github_team: 'theforeman/ansible'
    container_gateway:
      # Note: not exposed directly in the installer
      github_org: 'Katello'
      rpm: true
    discovery:
      deb: true
      rpm: true
      puppet_acceptance_tests: true
      github_team: 'theforeman/discovery'
    dynflow:
      deb: true
      rpm: true
      puppet_acceptance_tests: true
      github_team: 'theforeman/remote-execution'
    hdm:
      deb: true
      rpm: true
      github_team: 'theforeman/betadots'
      github_org: 'betadots'
    monitoring:
      deb: true
      rpm: true
      github_team: 'theforeman/monitoring'
    omaha:
      deb: true
      rpm: true
      github_team: 'theforeman/omaha'
    openbolt:
      deb: true
      rpm: true
      github_team: 'theforeman/overlookinfra' # also theforeman/betadots
      github_org: 'overlookinfra'
      puppet_acceptance_tests: 'openbolt'
    openscap:
      rpm: true
      puppet_acceptance_tests: true
      github_team: 'theforeman/openscap'
    pulp:
      # Note: not exposed directly in the installer
      rpm: true
      github_team: 'theforeman/pulp'
    remote_execution_ssh:
      deb: true
      rpm: true
      # TODO: also remote_execution_script_pull_mqtt
      puppet_acceptance_tests: 'remote_execution_script'
      github_team: 'theforeman/remote-execution'
    salt:
      deb: true
      rpm: true
      github_team: 'theforeman/salt'
    shellhooks:
      deb: true
      rpm: true
      github_team: 'theforeman/webhooks'

cli:
  # grep '  foreman::cli::plugin' puppet-foreman/manifests/cli/*.pp | cut -d\' -f2
  plugins:
    foreman_admin:
      rpm: true
      translations: true
      github_team: 'theforeman/cli'
      installer: false
      puppet_acceptance_tests: false
      satellite: true
    foreman_ansible:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/ansible'
      satellite: true
    foreman_azure_rm:
      rpm: true
      url: 'https://github.com/theforeman/hammer_cli_foreman_azure_rm'
      translations: true
      github_team: 'theforeman/azure'
      satellite: true
    foreman_bootdisk:
      github_team: 'theforeman/bootdisk'
      deb: true
      rpm: true
      translations: true
      url: 'https://github.com/theforeman/hammer_cli_foreman_bootdisk'
      installer: false
      puppet_acceptance_tests: false
      satellite: true
    foreman_discovery:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/discovery'
      satellite: true
    foreman_google:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/google'
      satellite: true
    foreman_kubevirt:
      rpm: true
      puppet_acceptance_tests: true
      translations: true
      github_team: 'theforeman/kubevirt'
      satellite: true
    foreman_leapp:
      rpm: true
      github_team: 'theforeman/foreman_leapp'
      installer: false
      puppet_acceptance_tests: false
      satellite: true
      translations: true
    foreman_openscap:
      rpm: true
      url: 'https://github.com/theforeman/hammer_cli_foreman_openscap'
      puppet_acceptance_tests: true
      translations: true
      github_team: 'theforeman/openscap'
      satellite: true
    foreman_puppet:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/puppet'
      satellite: true
    foreman_remote_execution:
      deb: true
      rpm: true
      url: 'https://github.com/theforeman/hammer_cli_foreman_remote_execution'
      translations: true
      github_team: 'theforeman/remote-execution'
      satellite: true
    foreman_resource_quota:
      github_org: 'ATIX-AG'
      installer: true
      rpm: true
      translations: true
      puppet_acceptance_tests: false
    foreman_rh_cloud:
      github_team: 'theforeman/rh-cloud'
      rpm: true
      rpm_directory: 'katello'
      installer: true
      puppet_acceptance_tests: true
      satellite: true
      translations: true
    foreman_salt:
      deb: true
      rpm: true
      installer: false
      puppet_acceptance_tests: false
      url: 'https://github.com/theforeman/hammer_cli_foreman_salt'
      github_team: 'theforeman/salt'
    foreman_scc_manager:
      github_org: 'ATIX-AG'
      rpm: true
      rpm_directory: 'katello'
      installer: false
      puppet_acceptance_tests: false
      translations: true
    foreman_ssh:
      deb: true
      rpm: true
      # No translations
    foreman_tasks:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/foreman-tasks'
      satellite: true
    foreman_templates:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/foreman_templates'
      satellite: true
    foreman_virt_who_configure:
      rpm: true
      rpm_directory: 'katello'
      puppet_acceptance_tests: true
      translations: true
      github_team: 'theforeman/virt-who-configure'
      satellite: true
    foreman_webhooks:
      deb: true
      rpm: true
      translations: true
      github_team: 'theforeman/webhooks'
      satellite: true
    katello:
      rpm: true
      rpm_directory: 'katello'
      github_org: 'Katello'
      translations: true
      satellite: true

installer:
  modules:
    candlepin:
    certs:
    dhcp:
    dns:
    foreman:
    foreman_proxy:
    foreman_proxy_content:
    iop:
    katello:
    pulpcore:
    puppet:
    puppetserver_foreman:
    tftp:

client:
  ansible-foreman_scap_client:
    installer: true
    rpm: true
    rpm_directory: plugins
  foreman_scap_client:
    rpm: true
  foreman_scap_client_bash:
    rpm: true
  foreman_ygg_worker:
    rpm: true
  katello-pull-transport-migrate:
    rpm: true
  katello-host-tools:
    rpm: true
    github_org: 'Katello'
  puppet-foreman_scap_client:
    installer: true
    rpm: true
    rpm_directory: plugins

libraries:
  apipie-bindings:
    github_org: Apipie
    deb: true
    rpm: true
  apipie-dsl:
    github_org: Apipie
    deb: true
    rpm: true
  apipie-rails:
    github_org: Apipie
    deb: true
    rpm: true
  dynflow:
    github_org: Dynflow
    deb: true
    rpm: true
  journald-logger:
    deb: true
    rpm: true
  journald-native:
    deb: true
    rpm: true
  kafo:
    deb: true
    rpm: true
  kafo_parsers:
    deb: true
    rpm: true
  kafo_wizards:
    deb: true
    rpm: true
  ldap_fluff:
    rpm: true
  obsah:
    rpm: python-obsah
  safemode:
    rpm: true

auxiliary:
  foreman-documentation:
    description: "Official Katello documentation"
  forklift:
    description: "Tooling to deploy Foreman, primarily in test and development environments"
  theforeman.org:
    description: "Official website, including the official manual"
